<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodtruck.dao.FoodTruckDAO">

	<!-- 푸드트럭 상세정보 -->
	<select id="getFoodTruck" resultMap="FoodTruckMap">
		select *
		from
		foodtruck
		where
		FTRUCK_NO = #{ftruckNo}
	</select>
	
	<!-- 푸드트럭 카테고리별 리스트 -->
	 <select id="getCategoryList" resultMap="FoodTruckMap">
		select fft.* from(select rownum nm,ft.* from(select foodtruck.* from
		foodtruck where category=#{category} order by FTRUCK_REG) ft where <![CDATA[rownum<=#{index}]]>)fft
		where fft.nm
		between #{index}-9 and #{index}
	</select>
	
	<!-- 푸드트럭 전체 리스트 -->
	<select id="getFoodTruckList" resultMap="FoodTruckMap"
		parameterType="int">
		select fft.* from(select rownum nm,ft.* from(select foodtruck.* from
		foodtruck order by FTRUCK_REG) ft where <![CDATA[rownum<=#{index}]]>)fft
		where fft.nm
		between #{index}-9 and #{index}
	</select>
	
	
	<!-- 푸드트럭 위클리 랭킹 -->
	<select id="getFoodTruckRank" resultMap="FoodTruckMap" parameterType="int">
		select * from (select * from foodtruck order by ftruck_grade desc) where <![CDATA[rownum<=10]]>
	</select>
	

	<!-- 푸드트럭 등록 -->
	<insert id="insertFoodTruck">
		insert into foodtruck
		(FTRUCK_NO,ftruck_name,ftruck_tel,ftruck_addr,FTRUCK_DLV_YN,FTRUCK_RSV_YN,ftruck_state,ftruck_img)
		values
		(#{ftruckNo},#{ftruckName},#{ftruckTel},#{ftruckAddr},#{ftruckDlvYn},#{ftruckRsvYn},#{ftruckState},#{ftruckImg})
	</insert>

	<!-- 푸드트럭 삭제 -->
	<delete id="deleteTruck">
		delete from foodtruck
		where FTRUCK_NO = #{ftruckNo}
	</delete>

	<!-- 푸드트럭 수정 -->
	<update id="updateTruck">
		update foodtruck set ftruck_name =
		#{ftruckName},ftruck_addr =
		#{ftruckAddr},ftruck_tel = #{ftruckTel},
		FTRUCK_DLV_YN = #{ftruckDlvYn},FTRUCK_RSV_YN =
		#{ftruckRsvYn},ftruck_state =
		#{ftruckState}, ftruck_img = #{ftruckImg}
		where FTRUCK_NO = #{ftruckNo}
	</update>
	
	<!-- 푸드트럭 카운트(페이징처리) -->
	<select id="getCountTruck" resultType="int">
		select count(*) from
		foodtruck
	</select>
	
	<!-- 푸드트럭 카테고리별 카운트(페이징처리) -->
	<select id="getCategoryCountTruck" resultType="int">
		select count(*) from foodtruck where category=#{category}
	</select>
	
	<resultMap type="FoodTruckVO" id="FoodTruckMap">
		<result column="FTRUCK_NO" property="ftruckNo"/>
		<result column="LICENSE_NO" property="licenseNo" />
		<result column="FTRUCK_NAME" property="ftruckName" />
		<result column="FTRUCK_TEL" property="ftruckTel" />
		<result column="FTRUCK_ADDR" property="ftruckAddr" />
		<result column="FTRUCK_DLV_YN" property="ftruckDlvYn" />
		<result column="FTRUCK_RSV_YN" property="ftruckRsvYn" />
		<result column="FTRUCK_GRADE" property="ftruckGrade" />
		<result column="FTRUCK_STATE" property="ftruckState" />
		<result column="FTRUCK_IMG" property="ftruckImg" />
		<result column="FTRUCK_INTRO" property="ftruckIntro" />
		<result column="FTRUCK_REG" property="ftruckReg" />
	</resultMap>
</mapper>